body {
  margin: 0;
}

.header {
  background: #292929;
  height: 140px;
  display: flex;
  align-items: center;
}

.header img {
  border: 1px solid #ffffff;
  width: 156.7px;
  height: 32.94px;
  padding: 1em;
  margin-left: 77px;
}

.section1 {
  background-image: url("./images/Rectangle desktop.png");
  height: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section1 div {
  width: 490px;
  height: 282px;
  margin-left: 77px;
}

.section1-header {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 94px;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.search {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0 0 1em 2em;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-top: 63px;
}

.search input {
  display: block;
  width: 100%;
  height: 54px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .search input {
    height: 34px;
    font-size: 20px;
  }
}

.search-results {
  margin: 2em 1em 2em 3em;
  overflow-x: auto;
  scrollbar-width: none;
}

.search-item.MuiPaper-root {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  margin-right: 1em;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.search1 {
  overflow: hidden;
  scrollbar-width: none;
  padding: 10px 0;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

@media (max-width: 768px) {
  .header {
    justify-content: center;
  }

  .header img {
    margin: 0;
  }

  .section1 {
    background-image: url("./images/Rectangle tab.png");
    justify-content: center;
  }

  .section1 div {
    margin-left: 0;
  }

  .section1-header {
    font-weight: 700;
    font-size: 72px;
    line-height: 94px;
    text-align: center;
    letter-spacing: -0.05em;
  }

  .search input {
    width: 680px;
    padding-left: 0;
    padding-right: 0;
  }

  .search {
    padding-left: 1.5em;
    margin-top: 53px;
    width: 80%;
  }

  .search-results {
    margin-left: 2em;
  }
}

@media (max-width: 480px) {
  .header {
    height: 67px;
  }

  .header img {
    width: 87.68px;
    height: 18.43px;
    padding: 0.5em;
  }

  .section1 {
    background-image: url("./images/Rectangle phone.png");
    height: 257px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section1 div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section1-header {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.05em;
    width: 273px;
  }

  .search input {
    width: 100%;
    height: 34px;
    font-size: 16px;
  }

  .search {
    font-size: 16px;
    line-height: 21px;
    padding-left: 2em;
  }

  h3 {
    font-size: 16px;
    line-height: 21px;
  }

  .search-item.MuiPaper-root {
    width: 200px;
    height: 200px;
  }
}
